package {{ package }}.controller;

import {{ package }}.dto.*;
import {{ package }}.usecase.*;
import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;
{{#extraImports}}
import {{.}};
{{/extraImports}}

{{> header }}
@RestController{{#metadata.API_PREFIX}}
@RequestMapping("{{{metadata.API_PREFIX}}}"){{/metadata.API_PREFIX}}
@AllArgsConstructor
public class {{controllerClassName}} {

     {{#resources}}
        {{#actions}}
            {{> resource}}
        {{/actions}}
    {{/resources}}

}