package {{ package }}.dto;

{{#extraImports}}
import {{.}};
{{/extraImports}}
import lombok.*;

{{> header }}
@Getter
@EqualsAndHashCode
@ToString
@AllArgsConstructor
public class {{modelClassName}} {{#modelSubClassName}}extends {{modelSubClassName}}{{/modelSubClassName}} {
	{{#fields}}
	private final {{#fn.maptype}}{{{type}}}{{/fn.maptype}} {{#fn.camelCase}}{{name}}{{/fn.camelCase}};
	{{/fields}}
}
