	
    private final {{#fn.pascalCase}}{{{ name }}}{{/fn.pascalCase}} {{#fn.camelCase}}{{{ name }}}{{/fn.camelCase}};

	{{#fn.addCommentStars4}}{{{ description }}}{{/fn.addCommentStars4}}{{#__extraAnnotations}}
	@{{#fn.stripPrefixedAt}}{{.}}{{/fn.stripPrefixedAt}}{{/__extraAnnotations}}
    @ResponseStatus(HttpStatus.OK)
    @RequestMapping(value = "{{{ attributes.uriTemplate }}}", method = RequestMethod.{{ method }})
    public {{#fn.pascalCase}}{{{ name }}}{{/fn.pascalCase}}.Response {{#fn.camelCase}}{{{ name }}}{{/fn.camelCase}}({{> pathparameters }}) {
        {{#fn.pascalCase}}{{{ name }}}{{/fn.pascalCase}}Request request = new {{#fn.pascalCase}}{{{ name }}}{{/fn.pascalCase}}.Request({{>svcpathparameters}});
    	return {{#fn.camelCase}}{{{ name }}}{{/fn.camelCase}}.execute(request);
    }
